<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css" rel="stylesheet">
  <title>Авторизация / Dimentus</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
</head>

<body>
  <div class="flex h-screen bg-gray-200">
    <div class="m-auto w-1/5">
      <div class="p-8 bg-white shadow-md rounded-md">
        <h1 class="mb-6 text-2xl text-gray-800">Авторизация</h1>
        <form id="login-form" action="/signin" method="POST">
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="text">
              Логин пользователя
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="username" name="username" type="text" placeholder="Логин" required>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="password">
              Пароль пользователя
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="password" name="password" type="password" placeholder="******************" required>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
              Войти
            </button>
          </div>
        </form>
      </div>
    </div>
    <input id="error-message" value="<%= message %>" type="hidden">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      if ($('#error-message').val() !== '') {
        iziToast.error({
          message: $('#error-message').val(),
          position: 'topRight'
        });
      }
    });
  </script>
</body>

</html>